{erl_opts, [debug_info]}.

{deps, [
    {cowboy, "2.10.0"},
    {jsone, "1.8.1"},
    {epgsql, "4.7.1"},
    {worker_pool, {git, "https://github.com/inaka/worker_pool.git", {tag, "6.4.0"}}}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [windsurf_demo]}
]}.

{project_plugins, [rebar3_format]}.

{profiles, [
    {test, [{deps, []}]}
]}.
